.listContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.listContent {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 600px;
    margin-top: 70px;
}

.listOptions {
    flex-direction: column;
    width: 600px;
    position: fixed;
    background: var(--white-smoke);
    padding-bottom: 1rem;
}

.rowContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 2rem;
}

.visitationAreaDetails {
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: fit-content;
    display: flex;
    justify-content: center;
}

.visitationListTitle {
    margin-top: 1.5rem;
    font-size: 18px;
    opacity: 0.8;
}

.visitationsList {
    width: 550px;
    margin-top: 310px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin-bottom: 2rem;
}

.noVisitsMessage {
    font-size: 1.2rem;
    color: #888;
    text-align: center;
    margin-top: 20px;
}

.button {
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: var(--white);
    padding: 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    opacity: 0.8;
}

.buttonBack {
    background-color: var(--light-blue);
}

.buttonNeWVisit {
    background-color: var(--light-green);
}


@media (max-width: 650px) {
    .listContent {
        width: 100%;
    }

    .listOptions {
        width: 92%;
    }

    .cycleInfo, .pastCyclesLink, .visitationsList {
        width: 85%;
    }

    .noVisitationAreaMessage {
        font-size: 16px;
        width: 85%;
    }  
}