.register-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.register-list {
    margin-left: auto;
    margin-right: auto;
    padding: 5px 20px;
    min-width: 340px;
    max-width: 600px;
    background-color: #F5F9FD;
    border-radius: 20px;
}

.item {
    margin-top: 10px;
}

