.container,
.tratamento {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.title {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-size: 16px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--light-grey);
}

.gap {
    gap: 2rem;
}

.tratamento {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.focal,
.perifocal {
    font-size: 16px;
    border-bottom: 1px solid var(--light-grey);
    padding-bottom: 8px;
    margin-top: 8px;
}

.subtitle {
    font-size: 14px;
    min-width: 80px;
}

.larvicidaContainer,
.adulticidaContainer {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.InfoTop,
.InfoBottom,
.adulticidaInfo,
.row,
.larvicidadeInfo {
    display: flex;
    flex-direction: row;
}

.adulticidaInfo,
.larvicidadeInfo {
    width: 100%;
    gap: 1rem;
}

.InfoTop {
    gap: 1rem;
    width: 45%;
}

.InfoBottom {
    gap: 8px;
    width: 55%;
}

@media (max-width: 600px) {

    .larvicidaContainer,
    .adulticidaContainer,
    .InfoTop {
        flex-direction: column;
        gap: 8px;
        width: 100%;
    }

    .larvicidadeInfo {
        flex-direction: column;
        gap: 8px;
    }

    .InfoBottom {
        width: 100%;
        gap: 1rem;
    }
}