.containerCenter {
    background: var(--white);
    height: auto;
    width: 100%;
    border-radius: 10px;
    padding: 20px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 85%;
    font-size: 14px;
}

.rowContent {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.label {
    color: #757575;
}

.completedTag,
.pendingTag {
    color: var(--white);
    padding: 4px 8px;
    border-radius: 10px;
    font-size: 12px;
}

.completedTag {
    background-color: var(--light-green);
}

.pendingTag {
    background-color: var(--light-red);
}

.hoverLink {
    border-bottom: 2px solid rgba(0, 159, 227, 1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}