.button {
  margin-left: 18%;
  margin-right: 18%;
  margin-top: 0.5rem;
  background-color: var(--white-smoke);
  border: 0;
  padding: 0.4rem;
  border-radius: 0.5rem;
  transition: filter 0.2s;

  &[disabled] {
    cursor: not-allowed;

    svg {
      animation: animate 2s infinite;
    }
  }

  &:hover {
    filter: brightness(1.18);
  }
}

.buttonText {
  font-size: 16px;
  color: var(--black);
}

@keyframes animate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.backButton,
.newVisitButton,
.saveButton,
.editButton,
.cancelButton {
  padding: 8px;
  border: none;
  color: var(--white);
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.backButtonLink,
.newVisitButtonLink,
.saveButton,
.editButton,
.cancelButton {
  display: flex;
  align-items: center;
}

.newVisitButtonLink,
.saveButton,
.editButton,
.cancelButton {
  gap: 4px;
}

.backButton {
  background: var(--light-blue);
}

.newVisitButton {
  background: var(--light-green);
}

.saveButton {
  background-color: var(--light-green);
}

.editButton {
  background-color: var(--ligh-orange);
}

.cancelButton {
  background-color: var(--light-red);
}